$primary-color: #bc6c25;
$secondary-color: #fde63e;
$heading-color: #ffc28c;
$text-color: #bc6c25;
$text-white: #ffffff;
$dark-backgound: #000000;
$light-background: #0000000a;
$button-background: #ffffff;
$font-family: "CustomFont";
$btn-family: "Sarabun";
$btn-1-family: "Sarabun";

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Special+Elite&display=swap");

@font-face {
  font-family: "CustomFont";
  src: url("./Custom-font/UncialAntiqua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}

.Home-section {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      url("../assets/image/Hero.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box {
    background-color: rgba(108, 52, 1, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 33px;
    padding: 50px 33px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: $font-family;
      font-size: 50px;
      font-weight: 400;
      line-height: 66px;
      text-transform: capitalize;
      color: $secondary-color;
      padding-bottom: 40px;
    }

    h3 {
      font-family: "Special Elite", "outfit";
      font-size: 48px;
      font-weight: 400;
      line-height: 66px;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: $heading-color;
      padding-bottom: 40px;
      text-align: center;
    }
  }
  .log-btn {
    font-family: $btn-family;
    font-weight: 700;
    size: 20px;
    line-height: 26px;
    align-items: center;
    background-color: $button-background;
    color: $text-color;
    padding: 12px 100px;
    border: 1.5px solid #bc6c25;
    border-radius: 12px;
  }
  .btn-1 {
    font-family: $btn-1-family;
    font-weight: 700;
    size: 20px;
    line-height: 26px;
    align-items: center;
    background-color: $primary-color;
    color: $text-white;
    padding: 12px 100px;
    border: 1.5px solid #ffffff;
    border-radius: 12px;
  }
}
